# Env variables
.env
.secrets.toml
.streamlit/secrets.toml

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/
*.log

# Streamlit
commentaires_msiri.json

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Data
*.db
*.sqlite
*.sqlite3
